// independent
$piece: 50;
$logo: 50;
$cell_bw: 1;

// dependent
$highlight: $piece - 2 * $cell_bw;

/* [GAME]: othello */

#tck-game-othello .tck-extra {
    display: none;
}

#tck-game-othello .tck-count {
    color: #888;
}

#tck-game-othello .tck-board-body {
    background-image: url('/tweeckie/games/othello/media/board.png');
}

#tck-game-othello .tck-board-body div {
    position: absolute;
}

#tck-game-othello .tck-piece {
    cursor: auto;
    width: #{$piece}px;
    height: #{$piece}px;
    z-index: 5;
}

#tck-game-othello .tck-reachable {
    cursor: pointer;
    width: #{$piece}px;
    height: #{$piece}px;
}

#tck-game-othello .tck-highlight {
    background-color: #F90;
    margin: #{$cell_bw}px;
    width: #{$highlight}px;
    height: #{$highlight}px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index: 0;
}

/* viewport at (0, 0) is top left - white piece */

#tck-game-othello .tck-piece {
    background-image: url('/tweeckie/games/othello/media/sprites.png');
    width: #{$piece}px;
    height: #{$piece}px;
}

.tck-othello-logo {
    background-image: url('/tweeckie/games/othello/media/sprites.png');
    background-position: 0px -#{$piece}px;
    width: #{$logo}px;
    height: #{$logo}px;
}

/* regular pieces */

#tck-game-othello .tck-white-piece {
    background-position: 0px 0px;
}

#tck-game-othello .tck-black-piece {
    background-position: -#{$piece}px 0px;
}

