// independent
$piece: 50;
$piece_sm: 20;
$board_bw: 3;
$rows_width: 20;
$border_color: #000;

// dependent
$board_size: 8 * $piece;
$wrapper_width: $board_size + 2 * ($board_bw + $rows_width);

.tck-board {
    position: relative;
    width: #{$wrapper_width}px;
}

.tck-board-rows,
.tck-board-columns,
.tck-board-content {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tck-board-rows {
    width: #{$rows_width}px;
    margin: #{$board_bw}px 0px;
}

.tck-board-rows li {
    display: block;
    height: #{$piece}px;
    line-height: #{$piece}px;
    text-align: center;
}

.tck-board-columns {
    text-align: center;
    margin: 4px 0px;
}

.tck-board-columns li {
    display: inline-block; zoom: 1; *display: inline; /* IE7 */
    text-align: center;
    width: #{$piece}px;
}

.tck-board-body {
    position: relative;
    border: solid #{$board_bw}px $border_color;
    width: #{$board_size}px;
    height: #{$board_size}px;
    margin: 0px #{$rows_width}px;
}

